<launch>
  <node pkg="lidar_camera_calibration" type="data_generate" name="data_generate" output="screen">
    <rosparam command="load" file="$(find lidar_camera_calibration)/param/parameters.yaml" />
  </node>
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find lidar_camera_calibration)/rviz/data_generate.rviz" />
</launch>
