<launch>
  <node pkg="lidar_camera_calibration" type="lidar_chessboard_detector" name="lidar_chessboard_detector" output="screen">
    <rosparam command="load" file="$(find lidar_camera_calibration)/param/parameters.yaml" />
  </node>
  <node pkg="rqt_reconfigure" name="rqt_reconfigure" type="rqt_reconfigure" />
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find lidar_camera_calibration)/rviz/lidar_chessboard_detector.rviz" />
</launch>
