<launch>
  <node pkg="lidar_camera_calibration" type="manual_calibration_node" name="manual_calibration_node" output="screen">
    <rosparam command="load" file="$(find lidar_camera_calibration)/param/camera_parameters.yaml" />
    <param name="in_cloud_topic" type="str" value="/pandar40p" />
    <param name="in_image_topic" type="str" value="/axis/image_color/compressed" />
    <param name="out_image_topic" type="str" value="/projected_image" />
    <param name="out_cloud_topic" type="str" value="/pandar40p/front" />
    <param name="calibration_file" type="str" value="$(find lidar_camera_calibration)/param/calibration.yaml" />
    <param name="min_theta" type="double" value="240.0" />
    <param name="max_theta" type="double" value="300.0" />
    <param name="min_range" type="double" value="2.0" />
    <param name="max_range" type="double" value="150.0" />
    <param name="is_write_results" type="bool" value="false" />
  </node>
  <node pkg="rqt_reconfigure" name="rqt_reconfigure" type="rqt_reconfigure" />
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find lidar_camera_calibration)/.config/rviz/manual_calibration.rviz" />
</launch>
